#page-indicator {
	background-image: url("../SiteIcons/NavigationIcons/PageIndicator.png");
	width: 9px;
	height: 9px;
	margin-left: 1000px;
	margin-bottom: -10px;
}

.mid{
  padding-top: 75px;
  width: 800px;
  position: relative;
  height: 700px;
  font-family: "Gotham-Light";
  font-size: 16px;
  margin: 0 auto;
}

#contact-pic{
  	position: absolute;
	right: 0;
  	width: 450px;
  	height: 450px;
}

#contact-text {
	width: 300px;
	height: 500px;
}

#contact-quote {
	font-style: italic;
}
